<%- include('header'); -%>
<h3>This is my about page</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia expedita, impedit at ipsa placeat et laudantium. Libero reiciendis ullam repellendus voluptatibus enim, error deleniti? Facilis laboriosam quisquam quis assumenda aspernatur!</p>

<%- include('footer'); -%>